<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home</title>
    <style>
      h1{
        color:rgb(100,100,100);
        text-align: center;
      }
      #banner{
        width:100%;
        height:400px;
        object-fit:cover;
      }
      #container{
        max-width:720px;
        margin:0 auto;
      }
    </style>
  </head>
  <body>
    <div id=container>
    <h1>Jovian Careers</h1>
    <img  id="banner" src= "{{ url_for('static', filename='career_img.jpeg') }}" alt="Career Image">
    <h2>About Jovian</h2>
    <p>
    Lorem ipsum odor amet, consectetuer adipiscing elit. Nulla amet dui ut morbi habitant potenti suscipit mi. Mattis augue eros per risus dictum duis. Fames tincidunt fusce tempor nibh facilisi nisl; praesent curabitur ridiculus. Himenaeos quis metus diam porta consectetur penatibus. Vulputate commodo nisi varius congue venenatis vestibulum libero. Etiam taciti montes bibendum quis tellus senectus facilisis pellentesque.</p>
    <p>Open Positions</p>
    <p>Jobs-To-DO</p>
  <div style="text-align:center;"
    <button>Contact Us</button>
  </div>
  </body>
</html>

